/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color: #4e1e74;
    --padding_place: 100px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/* end golbal rules */
/* Start Components */
.main_heading {
    text-align: center;
}
.main_heading h2 {
    font-weight: normal;
    margin-bottom: 60px;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
}
.main_heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    background-color: #1f2021;
    transform: translatex(-50%);
    width: 120px;
    height: 2px;
    bottom: -30px;
}
.main_heading h2::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #1f2021;
    left: 50%;
    transform: translatex(-50%);
    bottom: -37px;
    background-color: #fff;
}
.main_heading p {
    margin: 0 auto 100px;
    width: 500px;
    line-height: 2;
    max-width: 100%;
    color: #a8a8a8;
}
/* End components */
/* Start header */
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}
header .container::before {
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: #636364;
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 2;
}
header .container .main img {
    height: 40px;
    z-index: 2
}
header .container nav {
    display: flex;
    flex: 1;
    align-items: center; 
    justify-content: flex-end;
}
header .container nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }
    header .container nav .name:hover + ul {  
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: rgb(31 32 33 / 50%);
    }
    header .container nav .name:hover + ul li a {
        padding: 15px;
    }
}
header .container ul li a {
    font-size: 14px;
    display: block;
    color: #dfdfdf;
    text-decoration: none;
    padding: 40px 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
header .container nav .form {
    width: 40px;
    position: relative;
    height: 30px;
    border-left: 1px solid #dfdfdf;
    margin-left: 30px;
}
header .container nav .form i {
    color: #dfdfdf;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
}
header .container ul li a:hover,
header .container ul li .active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 40px 10px;
}
header nav .name {
    color: #dfdfdf;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 6px;
    border: 1px solid white;
}
@media (min-width: 768px) {
    header nav .name {
        display: none;
    }
}
/* End header */
/* Start landing */
.landing {
    min-height: 100vh;
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    position: relative;
    z-index: -1;
}
.landing .overly {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.landing .text {
    background-color: #4e1e74;
    opacity: 80%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 50%;
    padding: 50px;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        margin-top: 0.91rem;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .content {
    max-width: 500px;
}
.landing .text .content  h2 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 1.8;
}
.landing .background-change {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
}
@media (max-width: 767px) {
    .landing .background-change {
        display: none;
    }
}
.landing .left {
    left: 30px; 
}
.landing .right {
    right: 30px;
}
.landing ul {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 30px;
    display: flex;
}
.landing ul li {
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.landing ul .active {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}
/* End landing */
/* Start Services */
.services {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
}
@media (min-width: 768px) {
    .services .services_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
    }
}
.services .box {
    display: flex;
}
@media (max-width: 767px) {
    .services .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
}
.services .box i {
    color: #1f2021;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .services .box i {
        margin: 0 0 30px 0;
    }
}
.services .box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .box p {
    line-height: 2;
    color: #a8a8a8;
}
/* End Services */
/* start design section */
.design {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
    height: 600px;
    position: relative;
    background-image: url("../images/orginal-landspace-sky-wallpaper-1920x600_57.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.design > i {
    color: white;
    font-size: 300px;
    z-index: 1;
    margin-left: 150px;
}
@media (max-width: 767px) {
    .design > i {
        display: none;
    }
}
@media (max-width: 1199px) {
    .design > i {
        margin-left: 30px;
    }
}
.design::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.design .text {
    z-index: 2;
    position: relative;
    flex: 1;
} 
.design .text {
    color: white;
    padding: 50px;
    background-color: rgb(78 30 116 / 80%);
    max-width: 50%;
}
@media (max-width: 767px) {
    .design .text {
        max-width: 100%;
        margin-top: 0.91rem;
    }
}
.design .text h2 {
    font-weight: normal;
    margin-bottom: 30px;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
@media (max-width: 767px) {
    .design .text {
        width: 100%;
        margin-top: 0.91rem;
    }
}
/* End design section */
/* Start Portfolio */
.portfolio {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
    text-transform: uppercase;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: #fff;
}
.portfolio .images_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .images_container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .images_container .box .thing {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    z-index: 2;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
}
.portfolio .images_container .box:hover .thing {
    transform: translate(-50%, -110%);
}
.portfolio .images_container .box .thing::before {
    content: "";
    width: 50px;
    position: absolute;
    height: 1px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.portfolio .images_container .box .thing::after {
    content: "";
    width: 1px;
    position: absolute;
    height: 50px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
@media (min-width: 768px) {
    .portfolio .images_container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .images_container .box {
        flex-basis: 25%;
    }
}
.portfolio .images_container .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .images_container .box:hover img {
    transform: scale(1.1)
}
.portfolio .images_container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .images_container .box:hover .caption {
    bottom: 0;
}
.portfolio .images_container .box:hover .caption h4 {
    font-weight: bold;
    margin-bottom: 10px;
}
.portfolio .images_container .box:hover .caption p {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    width: fit-content;
    display: block;
    text-decoration: none;
    margin: 30px auto;
    text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 40%);
}
.video > img {
    width: 100%;
}
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    padding: 50px;
    background-color: rgb(78 30 116 / 80%);
    color: white;
    text-align: center;
}
.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p {
    margin-bottom: 30px;
}
.video .text button {
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: none;
}
/* End Video */
/* Start about */
.about {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
    text-align: center;
    overflow: hidden;
}
.about .container > i {
    color: var(--main-color);
    font-size: 300px;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
/* End about */
/* Start Status */
.status {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
    text-align: center;
    background-image: url("../images/hello-man-what.jpg");
    background-size: cover;
    position: relative;
}
.status::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 40%);
}
.status .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.status .container .box {
    color: white;
    padding: 50px;
    background-color: rgb(78 30 116 / 80%);
}
@media (max-width: 767px) {
    .status .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .status .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .status .container .box {
        flex-basis: 25%;
    }
}
.status .container .box  i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}
.status .container .box .numbers {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.status .container .box p {
    font-size: 14px;
}
/* End Status */
/* Start our Skills */
.our_skills {
    padding: var(--padding_place) 0;
}
.our_skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our_skills .container > div {
        flex-basis: 45%
    }
}
.our_skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our_skills .container > div > p {
    color: #b6b2b4;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our_skills .testimonails .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px

}
.our_skills .content img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .our_skills .content {
        flex-direction: column;
        text-align: center;
    }
    .our_skills .content img{
        margin: 0 auto 20px
    }
}
.our_skills .testimonails  .text {
    line-height: 1.8;
    border-bottom: 1px solid #b1adaf;
}
.our_skills .testimonails p {
    color: #b6b2b4;
    text-align: right;
    font-size: 14px;
    margin-bottom: 20px;
}
.our_skills .testimonails .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our_skills .testimonails .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #b7b3b4;
    border-radius: 50%;
    margin-right: 10px;
}
.our_skills .testimonails .bullets li.active {
    border-color: var(--main-color);
    background-color: var(--main-color);
}
.our_skills .skills .progress-holder {
    margin-bottom: 40px;
}
.our_skills .skills .progress-holder h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: normal;
}
.our_skills .skills .progress-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.our_skills .skills .progress-holder .prog span {
    background-color: var(--main-color);
    height: 100%;
    display: block;
    position: relative;
}
.our_skills .skills .progress-holder .prog span::before {
    content: attr(data-pro);
    position: absolute;
    background-color: black;
    color: white;
    right: -15px;
    top: -40px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}
.our_skills .skills .progress-holder .prog span::after {
    content: "";
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    position: absolute;
    right: -6px;
    top: -15px;
}
/* End our Skills */
/* Start qout */
.qout {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
    background-image: url("../images/reall-qout.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.qout::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.qout .container {
    position: relative;
}
.qout .container q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* End qout */ 
/* Start Pricing */
.pricing {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    text-align: center;

}
.pricing .plans .plan .head {
    padding: 50px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan span {
    font-weight: bold;
    font-size: 60px;
}
.pricing .plans .plan span:before {
    content: "$";
    font-size: 25px;
    position: relative;
    margin-right: 15px;
    top: -40px;
    font-weight: normal;
}
.pricing .plans .plan span::after {
    content: "/MO";
    font-size: 25px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a {
    margin: 30px auto;
    display: block;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 20px;
    width: fit-content;
}
.pricing .contact-text {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 20px;
}
.pricing .contact-us {
    margin: 30px auto;
    display: block;
    background-color: var(--main-color);
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 20px 50px;
}
/* End Pricing */
/* Start Subscribe */
.subs{
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
    background-image: url("../images/background.jpg");
    position: relative;
    background-size: cover;
}
.subs::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.subs .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .subs .container {
        flex-direction: column;
    }
}
.subs .container form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subs .container form i {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 5%;
    color: white;
    font-size: 20px;
}
.subs .container form input[type="email"]{
    padding: 20px 20px 20px 60px;
    border: 1px solid white;
    background: none;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right: none;
}
.subs .container form input[value="Subscribe"]{
    border: 1px solid white;
    border-left: none;
    width: 130px;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: white;
}
.subs .container form input[type="email"]::placeholder {
    color: white;
}
.subs .container form input[type="email"]:focus,
.subs .container form input[value="Subscribe"]:focus {
    outline: none;
}
.subs .container p {
    line-height: 2;
    margin-left: 50px;
    color: white;
}
@media (max-width: 991px) {
    .subs .container p {
        margin: 30px 0 0;
        text-align: center;
    }
}
/* End Subscribe */
/* Start Contact */
.main-contact {
    padding-top: var(--padding_place);
    padding-bottom: var(--padding_place);
}
.main-contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px){
    .main-contact .content {
        flex-direction: column;
    }
}
.main-contact .content form {
    flex-basis: 70%;
}
.main-contact .content form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.main-contact .content form input:focus {
    outline: none;
}
.main-contact .content form textarea.main-input {
    height: 200px;
}
.main-contact .content form input[value="Send Message"]{
    padding: 20px 30px;
    border: none;
    background-color: var(--main-color);
    color: white;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.main-contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px){
    .main-contact .content .info {
        order: -1;
        text-align: center;
    }
}
.main-contact .content .info h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}
.main-contact .content .info .phone {
    display: block;
    color: #b0acae;
    margin-bottom: 10px;
}
.main-contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;   
}
@media (max-width: 767px) {
    .main-contact .content .info h4:nth-of-type(2){
        margin-top: 30px;
    }
}
.main-contact .content .info address {
    color: #b0acae;
    line-height: 2;
}
@media (max-width: 767px) {
    .main-contact .content .info address {
        margin-bottom: 40px;
    }
}
/* End contact */
/* Start Foooter */
.footer {
    padding-top: calc(var(--padding_place)/ 2);
    padding-bottom: calc(var(--padding_place)/ 2);
    background-image: url("../images/footer.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.footer .container {
    position: relative;
    margin: 0 auto;
}
.footer .container img {
    margin-bottom: 20px;
}
.footer .container p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    margin: 20px auto;
    border-bottom: 1px solid;
}
.footer .socail-icons i {
    padding: 10px 15px;
}
.footer .copyright {
    margin-top: 60px;
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */